body {
  font-family: system-ui;
  color: #333;
  text-align: center;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#title {
  font-size: 3rem;
}

@media (min-width: 565px) {
  #title {
    font-size: 4rem;
  }
}

#img-div {
  max-width: 1000px;
  background: white;
  margin: 0 auto;
  padding: 10px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#headline {
  margin: 30px 0;
  font-size: 1.17rem;
}

p {
  max-width: 1000px;
  margin: 0 auto 20px auto;
  text-align: left;
  line-height: 1.6;
}

table {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  border: 1px solid black;
  border-spacing: 0;
}

th {
  padding: 10px 25px;
  background: #333;
  color: white;
}

td {
  padding: 5px 0;
}

#tribute-link {
  color: #477ca7;
}
